<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
  </head>

	<body class="container">
	  
	  <img id = "logo" src = "http://img4.wikia.nocookie.net/__cb20130713042010/breakingbad/images/5/5c/Los_Pollos.png" height="180" width="200">

    {% block header %}
      <header>Hey, I'm in the header</header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
        <a href="/about">About us </a> | <a href="/">Homepage</a> </footer>
    {% endblock %}

  </body>
</html>